pipeline/cpy_file_pipeline_test.json
{
	"name": "cpy_file_pipeline_test",
	"properties": {
		"activities": [
			{
				"name": "Get File List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "file_cpy",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get File List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File List').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If FileName Matches",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().name,'Sales')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy Matching Files",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "Region",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Region",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Country",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Country",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Item Type",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Item Type",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Sales Channel",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Sales Channel",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Order Priority",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Order Priority",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Order Date",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Order Date",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Order ID",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Order ID",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Ship Date",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Ship Date",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Units Sold",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Units Sold",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Unit Price",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Unit Price",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Unit Cost",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Unit Cost",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Total Revenue",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Total Revenue",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Total Cost",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Total Cost",
															"type": "String",
															"physicalType": "String"
														}
													},
													{
														"source": {
															"name": "Total Profit",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Total Profit",
															"type": "String",
															"physicalType": "String"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "file_cpy_src",
												"type": "DatasetReference",
												"parameters": {
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "file_cpy_dest",
												"type": "DatasetReference",
												"parameters": {
													"destfilename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Data flow Aggregation Profit",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEachFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow aggregation profit",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": []
	}
}