pipeline/MDS.json
{
	"name": "MDS",
	"properties": {
		"activities": [
			{
				"name": "execute_job",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "{ \"JobName\": \"RG_MDSQA_To_SnowflakeDEV\"}",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "executejob",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "log_json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get_the_status",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "execute_job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['RunStartDate']"
								},
								"sink": {
									"name": "RunStartDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Query']"
								},
								"sink": {
									"name": "Query",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['JobName']"
								},
								"sink": {
									"name": "JobName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Detail']"
								},
								"sink": {
									"name": "Detail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Result']"
								},
								"sink": {
									"name": "Result",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['value']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "log_json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_csv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "read_the_paramter",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get_the_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "get_status",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "read_the_paramter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('read_the_paramter').output.firstRow.Result ,'Failure')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"JOBNAME": {
				"type": "string",
				"defaultValue": "RG_MDSQA_To_SnowflakeDEV"
			}
		},
		"folder": {
			"name": "Ingestion/Sources"
		},
		"annotations": []
	}
}