pipeline/MDSQA to SnowFlakeProd Temp.json
{
	"name": "MDSQA to SnowFlakeProd Temp",
	"properties": {
		"description": "Copy data from MDSQA to Temp table in SnowFlake Prod",
		"activities": [
			{
				"name": "MDSQA_Copy_Data_ADLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "@concat('SELECT * FROM MDS.',pipeline().parameters.SourceSchema,'.',pipeline().parameters.SourceTableName)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerSink_QA",
						"type": "DatasetReference",
						"parameters": {
							"schema": "@pipeline().parameters.SourceSchema",
							"table": "@pipeline().parameters.SourceTableName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sql_server_sink",
						"type": "DatasetReference",
						"parameters": {
							"container": "@pipeline().parameters.Container",
							"path": "@pipeline().parameters.Path",
							"file": "@concat(pipeline().parameters.SourceTableName,'_ADFTemp.csv')"
						}
					}
				]
			},
			{
				"name": "Tuncate Target Table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "MDSQA_Copy_Data_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "adfadbplt001lssnfkpltdnaload",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('TRUNCATE TABLE ', pipeline().parameters.TargetSchema, '.', pipeline().parameters.TargetTableName)",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Execute Procedure to load data",
				"description": "Execute Procedure to load data into Snowflake table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SnowflakeStageValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": {
							"value": "@concat('CALL ', pipeline().parameters.TargetSchema, '.ADLSTOTABLEDATALOAD (',pipeline().parameters.TargetTableName,pipeline().parameters.Path, concat(pipeline().parameters.SourceTableName,'_ADFTemp.csv', variables('SnowFlakeStage')));",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "mtd_process",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SnowflakeStageValue",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Tuncate Target Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.Container",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "idn",
							"activities": [
								{
									"name": "IDNSnowflakeStage",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "SnowFlakeStage",
										"value": {
											"value": "@concat(pipeline().parameters.Environment,'_LOAD_STAGE_ADLS_IDN')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "kor",
							"activities": [
								{
									"name": "KORSnowflakeStage",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "SnowFlakeStage",
										"value": {
											"value": "@concat(pipeline().parameters.Environment,'_LOAD_STAGE_ADLS_KOR')",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "DefaultSnowFlakeStage",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SnowFlakeStage",
								"value": {
									"value": "@concat(pipeline().parameters.Environment,'_LOAD_STAGE_ADLS')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceSchema": {
				"type": "string",
				"defaultValue": "mdm"
			},
			"SourceTableName": {
				"type": "string"
			},
			"Container": {
				"type": "string"
			},
			"Path": {
				"type": "string",
				"defaultValue": "qa/sql_server/MDS/MDS_Adhoc/"
			},
			"TargetSchema": {
				"type": "string"
			},
			"TargetTableName": {
				"type": "string"
			},
			"Environment": {
				"type": "string",
				"defaultValue": "DEV"
			}
		},
		"variables": {
			"SnowFlakeStage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Miscellaneous Pipelines"
		},
		"annotations": []
	}
}