pipeline/MDSQA to SnowFlakeProd Temp.json
{
	"name": "MDSQA to SnowFlakeProd Temp",
	"properties": {
		"description": "Copy data from MDSQA to Temp table in SnowFlake Prod",
		"activities": [
			{
				"name": "MDSQA_Copy_Data_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Query",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@variables('Query')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerSink_QA",
						"type": "DatasetReference",
						"parameters": {
							"schema": "@pipeline().parameters.SourceSchema",
							"table": "@pipeline().parameters.SourceTableName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sql_server_sink",
						"type": "DatasetReference",
						"parameters": {
							"container": "@pipeline().parameters.Container",
							"path": "@pipeline().parameters.Path",
							"file": "@concat(pipeline().parameters.SourceTableName,'_ADFTemp.csv')"
						}
					}
				]
			},
			{
				"name": "Tuncate Target Table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "MDSQA_Copy_Data_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "adfadbplt001lssnfkpltdnaload",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('TRUNCATE TABLE ', pipeline().parameters.TargetSchema, '.', variables('TargetTableName'))",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Execute Procedure to load data",
				"description": "Execute Procedure to load data into Snowflake table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Tuncate Target Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": {
							"value": "@concat('CALL ASPSDL_RAW.ADLSTOTABLEDATALOAD(''', pipeline().parameters.TargetSchema,''',''',variables('TargetTableName'),''',''',pipeline().parameters.Path, ''',''', pipeline().parameters.SourceTableName,'_ADFTemp'');')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "mtd_process",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Query",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "TargetTableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Query",
					"value": {
						"value": "@if(empty(pipeline().parameters.Query) ,concat('SELECT * FROM ',pipeline().parameters.SourceSchema,'.',pipeline().parameters.SourceTableName),pipeline().parameters.Query)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TargetTableName",
				"description": "Set TargetTableName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TargetTableName",
					"value": {
						"value": "@if(contains(toLower(pipeline().parameters.TargetTableName),'adftemp'),pipeline().parameters.TargetTableName,concat(pipeline().parameters.TargetTableName,'_ADFTemp'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceSchema": {
				"type": "string",
				"defaultValue": "mdm"
			},
			"SourceTableName": {
				"type": "string"
			},
			"Container": {
				"type": "string",
				"defaultValue": "asp"
			},
			"Path": {
				"type": "string",
				"defaultValue": "qa/sql_server/MDS/MDS_Adhoc/"
			},
			"TargetSchema": {
				"type": "string"
			},
			"TargetTableName": {
				"type": "string"
			},
			"Query": {
				"type": "string"
			}
		},
		"variables": {
			"SnowFlakeStage": {
				"type": "String"
			},
			"Query": {
				"type": "String"
			},
			"TargetTableName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Miscellaneous Pipelines"
		},
		"annotations": []
	}
}