pipeline/NotifiyTeamsChannelPipeline.json
{
	"name": "NotifiyTeamsChannelPipeline",
	"properties": {
		"activities": [
			{
				"name": "If support error notification",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "WaitSecond",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(pipeline().parameters.isSupportNotification, 'Yes'), equals(pipeline().parameters.isError, 'Yes'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set JSON Schema support",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set supportWebhook",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "messageCardSupport",
								"value": {
									"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline execution alert​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Subscription Id:\",\n                    \"value\": \"@{pipeline().parameters.subscription}\"\n                },\n                {\n                    \"name\": \"Resource Group:\",\n                    \"value\": \"@{pipeline().parameters.resourceGroup}\"\n                },\n                {\n                    \"name\": \"Data Factory Name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                },\n                {\n                    \"name\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.runId}\"\n                },\n                {\n                    \"name\": \"Pipeline Name:\",\n                    \"value\": \"@{pipeline().parameters.name}\"\n                },\n                {\n                    \"name\": \"Pipeline Status:\",\n                    \"value\": \"@{pipeline().parameters.status}\"\n                },\n                {\n                    \"name\": \"Execution Start Time (SGT):\",\n                    \"value\": \"@{convertTimeZone(pipeline().parameters.triggerTime, 'UTC', 'Singapore Standard Time')}\"\n                },\n                {\n                    \"name\": \"Message:\",\n                    \"value\": \"@{replace(replace(replace(replace(replace(replace(pipeline().parameters.supportMessage,'\"',''),'\\n','~~'),'\\',''),'~~','\\n'),'{',''),'}','')}\"\n                },\n                {\n                    \"name\": \"Notification Time (SGT):\",\n                    \"value\": \"@{convertTimeZone(utcnow(), 'UTC', 'Singapore Standard Time')}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"View pipeline run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://adf.azure.com/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=%2Fsubscriptions%2F',pipeline().parameters.subscription,'%2FresourceGroups%2F',pipeline().parameters.resourceGroup,'%2Fproviders%2FMicrosoft.DataFactory%2Ffactories%2F',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Invoke Teams Webhook URL bsuiness_copy1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set JSON Schema support",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@variables('supportWebhook')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "adfiradbplt001",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "@json(variables('messageCardSupport'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set supportWebhook",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "supportWebhook",
								"value": "https://kenvue.webhook.office.com/webhookb2/08067575-6f4e-4e13-a36c-bc85d41b2896@7ba64ac2-8a2b-417e-9b8f-fcf8238f2a56/IncomingWebhook/18e6b38e15064ca9979eeb063f457f05/b96e6ec8-5d95-42c8-9ba2-44a3024dd2ac"
							}
						}
					]
				}
			},
			{
				"name": "WaitSecond",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"parameters": {
			"subscription": {
				"type": "string"
			},
			"resourceGroup": {
				"type": "string"
			},
			"runId": {
				"type": "string"
			},
			"name": {
				"type": "string"
			},
			"triggerTime": {
				"type": "string",
				"defaultValue": "2024-04-01T07:58:04.6734142Z"
			},
			"status": {
				"type": "string"
			},
			"supportMessage": {
				"type": "string",
				"defaultValue": "Data Loading Failed : \\\\n\\n**PROCESS_ID**:  2  \\\\n\\n**CATEGORY**: REGIONAL \\\\n\\n**PHASE_ID**:   1   \\\\n\\n**USECASE_ID**: 1 \\\\n\\n**SEQUENCE_ID**: 1 \\\\n\\n**CONTAINER**: asp \\\\n\\n**FOLDER_PATH**: dev/transactional \\\\n\\n**FILE_NAME**: DFS_202002.xlsx \\\\n\\n**ERROR**: _{\\\"DFS_PREPROCESSING\\\":\\\"No Data in file\\\"}_"
			},
			"isBusinessNotification": {
				"type": "string",
				"defaultValue": "No"
			},
			"isSupportNotification": {
				"type": "string",
				"defaultValue": "Yes"
			},
			"businessMessage": {
				"type": "string",
				"defaultValue": "testing pipeline"
			},
			"isError": {
				"type": "string",
				"defaultValue": "Yes"
			},
			"container": {
				"type": "string",
				"defaultValue": "asp"
			},
			"fileUrl": {
				"type": "string"
			}
		},
		"variables": {
			"messageCardBusiness": {
				"type": "String"
			},
			"messageCardSupport": {
				"type": "String"
			},
			"currentTime": {
				"type": "String"
			},
			"container_webhook": {
				"type": "String"
			},
			"businessWebhook": {
				"type": "String"
			},
			"supportWebhook": {
				"type": "String"
			},
			"test": {
				"type": "String"
			},
			"test2": {
				"type": "String"
			},
			"test3": {
				"type": "String"
			},
			"test4": {
				"type": "String"
			},
			"test5": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MS Teams Notification"
		},
		"annotations": []
	}
}