pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": "abc.xlsx"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "BinarySource",
						"type": "DatasetReference",
						"parameters": {
							"container": "dataops",
							"directory": "DQ Check Failures",
							"sourceFile": "tempFile.xlsx"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adls_sink_binary",
						"type": "DatasetReference",
						"parameters": {
							"adls_container": "dataops",
							"adls_path": "DQ Check Failures"
						}
					}
				]
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test1",
					"value": {
						"value": "@replace(variables('test'),'.',concat('_',formatDateTime(convertTimeZone(utcnow(), 'UTC', 'Singapore Standard Time'),'yyyyMMdd_HHmmss'),'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@replace(pipeline().parameters.container,'\\','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test1",
					"value": {
						"value": "@replace(pipeline().parameters.container,'\\\\','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.filter.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "arr",
								"value": {
									"value": "@concat(' || ',item().Result,' || ')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@join(variables('arr'),' ')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"container": {
				"type": "string",
				"defaultValue": "ASP\\asp\\\\asp"
			},
			"filter": {
				"type": "object",
				"defaultValue": {
					"ItemsCount": 28,
					"FilteredItemsCount": 2,
					"Value": [
						{
							"RunStartDate": null,
							"Query": "REPLICATE [SDL_MDS_RG_ecom_plan] SELECT [brand], [ChangeTrackingMask] AS [changetrackingmask], [cluster], [Code] AS [code], [country], [EnterDateTime] AS [enterdatetime], [EnterUserName] AS [enterusername], [EnterVersionNumber] AS [enterversionnumber], [fisc_month], [fisc_year], [fiscal_quarter], [franchise], [ID] AS [id], [LastChgDateTime] AS [lastchgdatetime], [LastChgUserName] AS [lastchgusername], [LastChgVersionNumber] AS [lastchgversionnumber], [MUID] AS [muid], [Name] AS [name], [need_state], [sub_country], [target_ori], [type], [ValidationStatus] AS [validationstatus], [Version_ID] AS [version_id], [VersionFlag] AS [versionflag], [VersionName] AS [versionname], [VersionNumber] AS [versionnumber] FROM [MDS].[mdm].[RG_ecom_pla]",
							"JobName": "RG_MDSQA_To_SnowflakeDEV",
							"Status": "FAILED",
							"Detail": "2 of 28 Tasks Failed",
							"Result": "[0] [500] Could not execute the specified command: The table, MDS.mdm.RG_ecom_pla, does not exist"
						},
						{
							"RunStartDate": null,
							"Query": "REPLICATE [SDL_MDS_RG_profit_center_franchise_mapping] SELECT [ChangeTrackingMask] AS [changetrackingmask], [Code] AS [code], [EnterDateTime] AS [enterdatetime], [EnterUserName] AS [enterusername], [EnterVersionNumber] AS [enterversionnumber], [franchise_l1], [franchise_l2], [franchise_l3], [franchise_l4], [ID] AS [id], [LastChgDateTime] AS [lastchgdatetime], [LastChgUserName] AS [lastchgusername], [LastChgVersionNumber] AS [lastchgversionnumber], [MUID] AS [muid], [Name] AS [name], [need_state], [prod_minor], [prod_minor_desc], [Prod_Need_State], [profit_center], [ValidationStatus] AS [validationstatus], [Version_ID] AS [version_id], [VersionFlag] AS [versionflag], [VersionName] AS [versionname], [VersionNumber] AS [versionnumber] FROM [MDS].[mdm].[RG_profit_center_franchise_mappin]",
							"JobName": "RG_MDSQA_To_SnowflakeDEV",
							"Status": "FAILED",
							"Detail": "2 of 28 Tasks Failed",
							"Result": "[1] [500] Could not execute the specified command: The table, MDS.mdm.RG_profit_center_franchise_mappin, does not exist"
						}
					]
				}
			}
		},
		"variables": {
			"test": {
				"type": "String",
				"defaultValue": "true"
			},
			"test1": {
				"type": "String"
			},
			"arr": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Miscellaneous Pipelines"
		},
		"annotations": []
	}
}