pipeline/PIPE_hist_data_migration_redshift_snowflake_master.json
{
	"name": "PIPE_hist_data_migration_redshift_snowflake_master",
	"properties": {
		"activities": [
			{
				"name": "Fetch Metadata",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "adfadbplt001lssnfkpltdnaload",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select * from META_RAW.HISTORICAL_OBJ_METADATA where ISACTIVE='TRUE' @{if(equals(pipeline().parameters.process_id,'ALL' ), '', concat(' and id in (',pipeline().parameters.process_id,')'))} Order By PRIORITY DESC;",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Metadata').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Child Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIPE_hist_data_migration_redshift_snowflake_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"Source_Schema": {
										"value": "@item().SOURCE_SCHEMA",
										"type": "Expression"
									},
									"Source_Table": {
										"value": "@item().SOURCE_TABLE",
										"type": "Expression"
									},
									"Target_Schema": {
										"value": "@item().TARGET_SCHEMA",
										"type": "Expression"
									},
									"Target_Table": {
										"value": "@item().TARGET_TABLE",
										"type": "Expression"
									},
									"IsActive": {
										"value": "@item().ISACTIVE",
										"type": "Expression"
									},
									"Market": {
										"value": "@item().MARKET",
										"type": "Expression"
									},
									"type_of_load": {
										"value": "@item().TYPE_OF_LOAD",
										"type": "Expression"
									},
									"Id": {
										"value": "@item().ID",
										"type": "Expression"
									},
									"Target_DB": {
										"value": "@item().TARGET_DB",
										"type": "Expression"
									},
									"Stage_Schema": {
										"value": "@item().STAGE_SCHEMA",
										"type": "Expression"
									},
									"Environment": {
										"value": "@pipeline().parameters.Environment",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Environment": {
				"type": "string",
				"defaultValue": "DEV"
			},
			"process_id": {
				"type": "string",
				"defaultValue": "ALL"
			}
		},
		"variables": {
			"redshift_unload_query": {
				"type": "String"
			},
			"snowflakeQuery": {
				"type": "String"
			},
			"test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Historical_Data_migration_redshift_snowflake"
		},
		"annotations": []
	}
}