pipeline/S3_to_ADLS_csv_to_csv.json
{
	"name": "S3_to_ADLS_csv_to_csv",
	"properties": {
		"activities": [
			{
				"name": "Get S3 Folder Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "S3FolderDataset",
						"type": "DatasetReference",
						"parameters": {
							"s3bucket": {
								"value": "@pipeline().parameters.S3Bucket",
								"type": "Expression"
							},
							"s3directory": {
								"value": "@pipeline().parameters.S3Directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEveryFileInsideFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get S3 Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get S3 Folder Details').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "s3_to_adls_copy_activity",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true,
										"modifiedDatetimeEnd": null,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "S3FileDataset",
									"type": "DatasetReference",
									"parameters": {
										"s3Bucket": {
											"value": "@pipeline().parameters.S3Bucket",
											"type": "Expression"
										},
										"s3Directory": {
											"value": "@pipeline().parameters.S3Directory",
											"type": "Expression"
										},
										"s3fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AdlsFileDataset",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.AdlsContainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.AdlsDirectory",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"S3Bucket": {
				"type": "string"
			},
			"S3Directory": {
				"type": "string"
			},
			"AdlsContainer": {
				"type": "string"
			},
			"AdlsDirectory": {
				"type": "string"
			}
		},
		"variables": {
			"test": {
				"type": "String"
			},
			"S3BucketName": {
				"type": "String"
			},
			"S3DirectoryName": {
				"type": "String"
			},
			"AdlsContainer": {
				"type": "String"
			},
			"AdlsDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Miscellaneous Pipelines"
		},
		"annotations": []
	}
}