pipeline/SFTP.json
{
	"name": "SFTP",
	"properties": {
		"activities": [
			{
				"name": "audit start",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "write_audit_log",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"process_id": {
							"value": "@pipeline().parameters.process_id",
							"type": "Expression"
						},
						"status": "START",
						"input_row_count": 0,
						"output_row_count": 0,
						"jobname": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"message": {
							"value": "@concat(pipeline().Pipeline,' pipeline is executing for use case ', string(pipeline().parameters.category))",
							"type": "Expression"
						},
						"runid": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipeline_id": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"category": {
							"value": "@pipeline().parameters.category",
							"type": "Expression"
						},
						"usecase_id": {
							"value": "@pipeline().parameters.usecase_id",
							"type": "Expression"
						},
						"phase_id": {
							"value": "@pipeline().parameters.phase_id",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "read parameters",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "audit start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "Select SNOWFLAKE_STAGE, SNOWFLAKE_FILE_FORMAT,\n\"'file_spec'\" AS file_spec,\n\"'folder_path'\" AS folder_path,\n\"'target_table'\" AS target_table,\n\"'container'\" AS container,\n\"'target_schema'\" AS target_schema,\n\"'source_extn'\" AS source_extn,\nIFNULL(\"'isUnzipNeeded'\",'N') AS isUnzipNeeded,\n\"'ftpName'\" AS ftpName,\n\"'ftpDirectory'\" AS ftpDirectory\nfrom (SELECT PARAMETERS.PARAMETER_NAME,PARAMETER_VALUE,PARAMETER_GROUP_NAME,IS_SENSITIVE,SNOWFLAKE_STAGE, SNOWFLAKE_FILE_FORMAT\nFROM META_RAW.PARAMETERS \nJOIN META_RAW.PROCESS USING (PARAMETER_GROUP_ID)\nWHERE PROCESS_ID = @{pipeline().parameters.process_id}\nAND IS_ACTIVE = TRUE)\nas A pivot ( MAX (PARAMETER_VALUE) for PARAMETER_NAME in (\n'file_spec',\n'folder_path',\n'target_table',\n'container',\n'target_schema',\n'source_extn',\n'isUnzipNeeded',\n'ftpName',\n'ftpDirectory'\n));",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "mtd_process",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Switch SFTP",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "read parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('read parameters').output.value[0].ftpName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "iqviaaus",
							"activities": [
								{
									"name": "Get files iqviaaus",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "BinarySFTPiqviaaus",
											"type": "DatasetReference",
											"parameters": {
												"directory": {
													"value": "@{activity('read parameters').output.value[0].ftpDirectory}",
													"type": "Expression"
												},
												"filename": {
													"value": "*@{activity('read parameters').output.value[0].file_spec}*.@{activity('read parameters').output.value[0].source_extn}",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "SftpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false,
											"disableChunking": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "files iqviaaus",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files iqviaaus",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "getFiles",
										"value": {
											"value": "@string(activity('Get files iqviaaus').output.childItems)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set error iqviaaus",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files iqviaaus",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "errorResponse1",
										"value": {
											"value": "@activity('Get files iqviaaus').error?.message",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "perensoaus",
							"activities": [
								{
									"name": "Get files perensoaus",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "BinarySFTPperensoaus",
											"type": "DatasetReference",
											"parameters": {
												"directory": {
													"value": "@{activity('read parameters').output.value[0].ftpDirectory}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{activity('read parameters').output.value[0].file_spec}*",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "SftpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false,
											"disableChunking": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "files perensoaus",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files perensoaus",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "getFiles",
										"value": {
											"value": "@string(activity('Get files perensoaus').output.childItems)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set error exacttargetphl_copy1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files perensoaus",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "errorResponse1",
										"value": {
											"value": "@activity('Get files perensoaus').error?.message",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "exacttargettha",
							"activities": [
								{
									"name": "Get files exacttargettha",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "BinarySFTPexacttargettha",
											"type": "DatasetReference",
											"parameters": {
												"directory": {
													"value": "@{activity('read parameters').output.value[0].ftpDirectory}",
													"type": "Expression"
												},
												"filename": {
													"value": "*@{activity('read parameters').output.value[0].file_spec}*.@{activity('read parameters').output.value[0].source_extn}",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "SftpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false,
											"disableChunking": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "files exacttargettha",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files exacttargettha",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "getFiles",
										"value": {
											"value": "@string(activity('Get files exacttargettha').output.childItems)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set error exacttargettha",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files exacttargettha",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "errorResponse1",
										"value": {
											"value": "@activity('Get files exacttargettha').error?.message",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "marketingcloudopstha",
							"activities": [
								{
									"name": "Get files marketingcloudopstha",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "BinarySFTPmarketingcloudopstha",
											"type": "DatasetReference",
											"parameters": {
												"directory": {
													"value": "@{activity('read parameters').output.value[0].ftpDirectory}",
													"type": "Expression"
												},
												"filename": {
													"value": "*@{activity('read parameters').output.value[0].file_spec}*.@{activity('read parameters').output.value[0].source_extn}",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "SftpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false,
											"disableChunking": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "files marketingcloudopstha",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files marketingcloudopstha",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "getFiles",
										"value": {
											"value": "@string(activity('Get files marketingcloudopstha').output.childItems)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set error marketingcloudopstha",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files marketingcloudopstha",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "errorResponse1",
										"value": {
											"value": "@activity('Get files marketingcloudopstha').error?.message",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "popcompany",
							"activities": [
								{
									"name": "Get files popcompany",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "BinarySFTPpopcompany",
											"type": "DatasetReference",
											"parameters": {
												"directory": {
													"value": "@{activity('read parameters').output.value[0].ftpDirectory}",
													"type": "Expression"
												},
												"filename": {
													"value": "*@{activity('read parameters').output.value[0].file_spec}*.@{activity('read parameters').output.value[0].source_extn}",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "SftpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false,
											"disableChunking": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "files popcompany",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files popcompany",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "getFiles",
										"value": {
											"value": "@string(activity('Get files popcompany').output.childItems)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set error popcompany",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files popcompany",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "errorResponse1",
										"value": {
											"value": "@activity('Get files popcompany').error?.message",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "marketingcloudopsjpndcl",
							"activities": [
								{
									"name": "Get files marketingcloudopsjpndcl",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "BinarySFTPmarketingcloudopsjpndcl",
											"type": "DatasetReference",
											"parameters": {
												"directory": {
													"value": "@{activity('read parameters').output.value[0].ftpDirectory}",
													"type": "Expression"
												},
												"filename": {
													"value": "*@{activity('read parameters').output.value[0].file_spec}*.@{activity('read parameters').output.value[0].source_extn}",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "SftpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false,
											"disableChunking": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "files marketingcloudopsjpndcl",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files marketingcloudopsjpndcl",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "getFiles",
										"value": {
											"value": "@string(activity('Get files marketingcloudopsjpndcl').output.childItems)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set error marketingcloudopsjpndcl",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get files marketingcloudopsjpndcl",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "errorResponse1",
										"value": {
											"value": "@activity('Get files marketingcloudopsjpndcl').error?.message",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Fail - SFTP Source",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Set error unknown ftp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "Fail - FTP Source Unknown",
								"errorCode": "404"
							}
						},
						{
							"name": "Set error unknown ftp",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "errorResponse1",
								"value": " SFTP Source Unknown"
							}
						}
					]
				}
			},
			{
				"name": "FilterOnlyFile",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Switch SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(variables('getFiles'))",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEveryFileInFTP",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Switch SFTP for file filtering",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('fileNamesArray')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Execute SFTP_To_ADLS",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SFTP_To_ADLS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FtpDirectory": {
										"value": "@activity('read parameters').output.value[0].ftpDirectory",
										"type": "Expression"
									},
									"FtpFileName": {
										"value": "@item()",
										"type": "Expression"
									},
									"FtpName": {
										"value": "@activity('read parameters').output.value[0].ftpName",
										"type": "Expression"
									},
									"AdlsContainer": {
										"value": "@activity('read parameters').output.value[0].container",
										"type": "Expression"
									},
									"AdlsPath": {
										"value": "@{if(equals(pipeline().globalParameters.environment, 'prod'),'prd', pipeline().globalParameters.environment)}/@{activity('read parameters').output.value[0].FOLDER_PATH}",
										"type": "Expression"
									},
									"category": {
										"value": "@pipeline().parameters.category",
										"type": "Expression"
									},
									"usecase_id": {
										"value": "@pipeline().parameters.usecase_id",
										"type": "Expression"
									},
									"sequence_id": {
										"value": "@pipeline().parameters.sequence_id",
										"type": "Expression"
									},
									"process_id": {
										"value": "@pipeline().parameters.process_id",
										"type": "Expression"
									},
									"phase_id": {
										"value": "@pipeline().parameters.phase_id",
										"type": "Expression"
									},
									"isUnzipNeeded": {
										"value": "@activity('read parameters').output.value[0].isUnzipNeeded",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "audit fail - directory not present",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Switch SFTP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "write_audit_log",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"process_id": {
							"value": "@pipeline().parameters.process_id",
							"type": "Expression"
						},
						"status": "FAIL",
						"input_row_count": 0,
						"output_row_count": 0,
						"jobname": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"message": {
							"value": "@concat(pipeline().Pipeline,' pipeline has failed for use case ', string(pipeline().parameters.category))",
							"type": "Expression"
						},
						"runid": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipeline_id": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"category": {
							"value": "@pipeline().parameters.category",
							"type": "Expression"
						},
						"usecase_id": {
							"value": "@pipeline().parameters.usecase_id",
							"type": "Expression"
						},
						"phase_id": {
							"value": "@pipeline().parameters.phase_id",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "error log - directory not present",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Switch SFTP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "write_error_log",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"process_id": {
							"value": "@pipeline().parameters.process_id",
							"type": "Expression"
						},
						"job_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"error_message": {
							"value": "@variables('errorResponse1')",
							"type": "Expression"
						},
						"run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"category": {
							"value": "@pipeline().parameters.category",
							"type": "Expression"
						},
						"phase_id": {
							"value": "@pipeline().parameters.phase_id",
							"type": "Expression"
						},
						"error_code": "00",
						"job_id": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send error - directory not present",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Switch SFTP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NotifiyTeamsChannelPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@if(equals(pipeline().globalParameters.environment, 'prod'),pipeline().globalParameters.prod_subscription_id, pipeline().globalParameters.dev_subscription_id)",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "@if(equals(pipeline().globalParameters.environment, 'prod'),pipeline().globalParameters.prod_resource_group, pipeline().globalParameters.dev_resource_group)",
							"type": "Expression"
						},
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"status": "FAIL",
						"supportMessage": {
							"value": "There is some issue with folder path or file location : \\n\n**PROCESS_ID**:  @{pipeline().parameters.process_id}  \\n\n**CATEGORY**: @{pipeline().parameters.category} \\n\n**PHASE_ID**:   @{pipeline().parameters.phase_id}   \\n\n**USECASE_ID**: @{pipeline().parameters.usecase_id} \\n\n**SEQUENCE_ID**: @{pipeline().parameters.sequence_id} \\n\n**FTP_NAME**: @{activity('read parameters').output.value[0].ftpName} \\n\n**FTP_DIRECTORY**: @{activity('read parameters').output.value[0].ftpDirectory} \\n\n**FILE_PREFIX**: @{activity('read parameters').output.value[0].FILE_SPEC} \\n\n**ERROR**: _@{variables('errorResponse1')}_",
							"type": "Expression"
						},
						"isBusinessNotification": "No",
						"isSupportNotification": "Yes",
						"isError": "Yes"
					}
				}
			},
			{
				"name": "audit success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEveryFileInFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "write_audit_log",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"process_id": {
							"value": "@pipeline().parameters.process_id",
							"type": "Expression"
						},
						"status": "FINISH",
						"input_row_count": 0,
						"output_row_count": 0,
						"jobname": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"message": {
							"value": "@concat(pipeline().Pipeline,' pipeline is completed for use case ', string(pipeline().parameters.category))",
							"type": "Expression"
						},
						"runid": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipeline_id": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"category": {
							"value": "@pipeline().parameters.category",
							"type": "Expression"
						},
						"usecase_id": {
							"value": "@pipeline().parameters.usecase_id",
							"type": "Expression"
						},
						"phase_id": {
							"value": "@pipeline().parameters.phase_id",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "audit fail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEveryFileInFTP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "write_audit_log",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"process_id": {
							"value": "@pipeline().parameters.process_id",
							"type": "Expression"
						},
						"status": "FAIL",
						"input_row_count": 0,
						"output_row_count": 0,
						"jobname": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"message": {
							"value": "@concat(pipeline().Pipeline,' pipeline has failed for use case ', string(pipeline().parameters.category))",
							"type": "Expression"
						},
						"runid": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipeline_id": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"category": {
							"value": "@pipeline().parameters.category",
							"type": "Expression"
						},
						"usecase_id": {
							"value": "@pipeline().parameters.usecase_id",
							"type": "Expression"
						},
						"phase_id": {
							"value": "@pipeline().parameters.phase_id",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Switch SFTP for file filtering",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "ForEachFile append name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('read parameters').output.value[0].ftpName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "iqviaaus",
							"activities": [
								{
									"name": "Filter File Name Iqvia",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Script sort file names",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "fileNamesArray",
										"value": {
											"value": "@array(json(activity('Script sort file names').output.resultSets[0].rows[0].SORT_VALUES)[0])",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Script sort file names",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Set sorting call query",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "adfadbplt001lssnfkpltdnaload",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@variables('sortingCall')",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "Set sorting call query",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "sortingCall",
										"value": {
											"value": "call meta_raw.sort_values([@{replace(string(variables('fileNamesArray')),'\"','''')}, ['1']])",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEachFile append name",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterOnlyFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterOnlyFile').output.Value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileNamesArray",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"category": {
				"type": "string"
			},
			"usecase_id": {
				"type": "int"
			},
			"sequence_id": {
				"type": "int"
			},
			"process_id": {
				"type": "int"
			},
			"phase_id": {
				"type": "int"
			}
		},
		"variables": {
			"getFiles": {
				"type": "String"
			},
			"sheet_names": {
				"type": "Array"
			},
			"emptyArray": {
				"type": "Array",
				"defaultValue": []
			},
			"fileNamesArray": {
				"type": "Array"
			},
			"sortingCall": {
				"type": "String"
			},
			"errorResponse1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Ingestion/Sources"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-28T12:20:59Z"
	}
}