pipeline/Tableau Refresh Status.json
{
	"name": "Tableau Refresh Status",
	"properties": {
		"activities": [
			{
				"name": "Fetch Refresh Status",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Tableau Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Content-Type": "application/xml",
							"x-tableau-auth": {
								"value": "@variables('token')",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "TableauRestAPI",
						"type": "DatasetReference",
						"parameters": {
							"relativeURL": {
								"value": "sites/@{pipeline().parameters.SiteId}/jobs/@{pipeline().parameters.JobId}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "TableauJsonResponse",
						"type": "DatasetReference",
						"parameters": {
							"tempContainer": "asp",
							"tempDirectory": "dev/tableau",
							"tempFileName": "tableauResponseDataSourceRefreshStatus.json"
						}
					}
				]
			},
			{
				"name": "Read DataSource Refresh Status",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Until Completion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "TableauJsonResponse",
						"type": "DatasetReference",
						"parameters": {
							"tempContainer": "asp",
							"tempDirectory": "dev/tableau",
							"tempFileName": "tableauResponseDataSourceRefreshStatus.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Tableau Token",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "token",
					"value": {
						"value": "@pipeline().parameters.token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until Completion",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set progress",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('progress'),'100')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait 30 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						},
						{
							"name": "Fetch Refresh Status Iteratively",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait 30 seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Content-Type": "application/xml",
										"x-tableau-auth": {
											"value": "@variables('token')",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "TableauRestAPI",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": {
											"value": "sites/@{pipeline().parameters.SiteId}/jobs/@{pipeline().parameters.JobId}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "TableauJsonResponse",
									"type": "DatasetReference",
									"parameters": {
										"tempContainer": "asp",
										"tempDirectory": "dev/tableau",
										"tempFileName": "tableauResponseDataSourceRefreshStatus.json"
									}
								}
							]
						},
						{
							"name": "Set progress Iteratively",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Fetch Refresh Status Iteratively",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "progress",
								"value": {
									"value": "@activity('Fetch Refresh Status Iteratively').output.value[0].progress",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set progress",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch Refresh Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "progress",
					"value": {
						"value": "@activity('Fetch Refresh Status').output.value[0].progress",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SiteId": {
				"type": "string",
				"defaultValue": "e97b3d15-44f8-471e-b460-31d169ffb51f"
			},
			"JobId": {
				"type": "string",
				"defaultValue": "a99ac52b-cfa0-4cb5-b3a0-1d4b293b40e4"
			},
			"token": {
				"type": "string",
				"defaultValue": "n-S7K1AYSPSbAc9d5utOhg|XQNYHA5Xt87imr5F525LGWwfoaqfBj8U|e97b3d15-44f8-471e-b460-31d169ffb51f"
			}
		},
		"variables": {
			"token": {
				"type": "String"
			},
			"progress": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Consumption"
		},
		"annotations": []
	}
}